<main>
  <!-- Bandeau titre -->
  <div class="header-image-container container-fluid">
    <h1>Mentions légales</h1>
  </div>

  <!-- Contenu principal -->
  <div class="container text-container">

  <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la confiance dans
    l’économie numérique (LCEN), il est précisé ci-dessous les mentions légales du site
    <strong>aucoeurdeslilas.com</strong>.</p>

  <hr />

  <h2>1. Éditeur du site</h2>
  <p>
    <strong>Nom :</strong> Mme PERRIN Marie <br />
    <strong>Statut :</strong> Auto-entrepreneur <br />
    <strong>SIRET :</strong> 93769572400016 <br />
    <strong>Adresse :</strong> 39 route du Hohwald, 67140 Barr <br />
    <strong>Email :</strong> perrinmarie.pm&#64;gmail.com <br />
  </p>

  <hr />

  <h2>2. Hébergement du site</h2>
  <p>
    <strong>Hébergeur :</strong> IONOS SARL <br />
    <strong>Adresse :</strong> 7 place de la Gare, 57200 Sarreguemines, France <br />
    <strong>Téléphone :</strong> 0970 808 911 <br />
    <strong>Site : </strong> <a href="https://www.ionos.fr" target="_blank" rel="noopener">www.ionos.fr</a>
  </p>

  <hr />

  <h2>3. Propriété intellectuelle</h2>
  <p>
    Le contenu du site (textes, images, logos, design, etc.) est la propriété exclusive de <strong>Au cœur des
      Lilas</strong>, sauf indication contraire. Toute reproduction, distribution, modification ou utilisation sans
    autorisation préalable écrite est interdite.
  </p>

  <hr />

  <h2>4. Données personnelles</h2>
  <p>
    Les données personnelles collectées via les formulaires de contact et de carte cadeau sont traitées conformément à
    la <a href="/privacy" target="_blank">Politique de confidentialité</a> du site.
  </p>

  <hr />

  <h2>5. Responsabilité</h2>
  <p>
    Le propriétaire du site ne pourra être tenu responsable des dommages directs ou indirects causés au matériel de
    l’utilisateur lors de l’accès au site, ni des éventuelles erreurs ou omissions dans les contenus publiés.
  </p>

  <hr />

  <h2>6. Contact</h2>
  <p>
    Pour toute question concernant le site ou son contenu, vous pouvez contacter :
    <br />
    <strong>Email :</strong> perrinmarie.pm&#64;gmail.com
  </p>
  </div>

</main>
