<div class="container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="3">Durée de la séance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td class="title">1h</td>
        <td class="title">1h30</td>
        <td class="title">2h</td>
      </tr>
      <tr>
        <td class="title">Séance unique</td>
        <td class="price">60 €</td>
        <td class="price">80 €</td>
        <td class="price">100 €</td>
      </tr>
      <tr>
        <td class="title">Programme (6 séances)</td>
        <td class="price">320 €<br><span class="old-price">(360 €)</span></td>
        <td class="price">420 €<br><span class="old-price">(480 €)</span></td>
        <td class="price">520 €<br><span class="old-price">(600 €)</span></td>
      </tr>
    </tbody>

  </table>
</div>
