<div class="content-container container">

  <div class="notice-container">
    <h1>Bienvenue sur le portail d'admnistration du site.</h1>
    <p>La barre de navigation en haut de la page vous permet d'accéder aux différents portails pour modifier <b>en temps
        réel</b> le contenu du site.</p>
    <h5>Attention !</h5>
    <p>Les modifications que vous apportez sont <b>immédiatement visibles</b> sur le site. Veillez à ne pas faire
      d'erreurs.</p>
  </div>

  <hr>

  <div class="portal-list">
    <h3>Portails disponibles</h3>

    <button class="green-btn" type="button" [routerLink]='["../avis"]'>Avis clients</button>
    <button class="green-btn" type="button" [routerLink]='["../massages"]'>Liste des massages et soins</button>
    <button class="green-btn" type="button" [routerLink]='["../programmes"]'>Programmes et tarifs</button>

  </div>

</div>
