<main>

  <div class="container-fluid index-header">
    <div class="site-header-container container">

      <div class="site-header-container-content">

        <div class="bg-disk">
          <img class="logo" src="/images/Logo.webp" alt="Logo Au Coeur des Lilas">
        </div>

        <div class="site-header-text">

          <h1 class="sht-titre">Au Coeur Des Lilas</h1>
          <h2 class="sht-prefix-titre">Sentier de la confiance vers l&#039;harmonie</h2>
          <p class="sht-desc">Bienvenue à tous au sein du havre des lilas, pour vos massages bien-être à
            domicile -
            Obernai et alentours
          </p>
          <br>

          <button [routerLink]="['/reservation']" target="_self" class="purple-btn" title="Réserver un massage">Prendre
              rendez-vous<span>&nbsp; &#10095;</span>
          </button>

        </div>

      </div>

    </div>
  </div>

  <!-- main section 1 (ms1) : EQUILIBRE -->
  @defer {
  <div class="container ms1-container">

    <div class="container-fluid">
      <h2>Le juste équilibre entre tous vos sens, se chercher et se retrouver.</h2>
    </div>

    <div class="container-fluid ms1-img">
    </div>

    <div class="ms1-desc">

      <div class="ms1-desc-item">
        <div class="ms1-desc-item-title">
          <svg class="ms1-desc-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M64 95.1H0c0 123.8 100.3 224 224 224v128C224 465.6 238.4 480 255.1 480S288 465.6 288 448V320C288 196.3 187.7 95.1 64 95.1zM448 32c-84.25 0-157.4 46.5-195.8 115.3c27.75 30.12 48.25 66.88 59 107.5C424 243.1 512 147.9 512 32H448z">
            </path>
          </svg>
          <h3>Bien-Être</h3>
        </div>

        <p>Trouvez l&#039;harmonie par le massage et évadez-vous tout en restant à votre domicile, pour un
          moment de détente optimal.</p>
      </div>

      <div class="ms1-desc-item">

        <div class="ms1-desc-item-title">
          <svg class="ms1-desc-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M328.7 52.28L431.7 119.8C449.5 132.9 453.3 157.9 440.2 175.7C427.1 193.5 402.1 197.3 384.3 184.2L296.6 127.1H191.1C183.2 127.1 175.1 135.2 175.1 143.1C175.1 152.7 183.2 159.1 191.1 159.1H254.2C270.2 159.1 284.1 170.9 287.6 186.6C290.8 206.6 275.5 223.1 255.1 223.1H143.1C116.1 223.1 90.87 214.7 69.87 197.7L23.37 159.1L15.1 160C7.25 160 0 152.7 0 143.1V47.99C0 39.25 7.25 32 15.1 32H266.1C289 32 310.9 39.19 328.7 52.28L328.7 52.28zM151.3 459.7L16.27 360.2C-1.509 347.1-5.305 322.1 7.803 304.3C20.93 286.5 45.94 282.7 63.74 295.8L183.4 384H304C312.8 384 320 376.8 320 368C320 359.3 312.8 352 304 352H225.8C209.8 352 195 341.1 192.4 325.4C189.2 305.4 204.5 288 224 288H352C379 288 405.1 297.3 426.1 314.3L472.6 352L496 352C504.7 352 512 359.3 512 368V464C512 472.8 504.7 480 496 480H213C190.1 480 169.1 472.8 151.3 459.7V459.7z">
            </path>
          </svg>
          <h3>Massage</h3>
        </div>

        <p>Préconisations autour des différentes problématiques. La bienveillance, l&#039;écoute et l&#039;empathie
          restant maîtres mots.</p>
      </div>

      <div class="ms1-desc-item">
        <div class="ms1-desc-item-title">
          <svg class="ms1-desc-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M400 192H32C14.25 192 0 206.3 0 224v192c0 53 43 96 96 96h192c53 0 96-43 96-96h16c61.75 0 112-50.25 112-112S461.8 192 400 192zM400 352H384V256h16C426.5 256 448 277.5 448 304S426.5 352 400 352zM107.9 100.7C120.3 107.1 128 121.4 128 136c0 13.25 10.75 23.89 24 23.89S176 148.1 176 135.7c0-31.34-16.83-60.64-43.91-76.45C119.7 52.03 112 38.63 112 24.28c0-13.25-10.75-24.14-24-24.14S64 11.03 64 24.28C64 55.63 80.83 84.92 107.9 100.7zM219.9 100.7C232.3 107.1 240 121.4 240 136c0 13.25 10.75 23.86 24 23.86S288 148.1 288 135.7c0-31.34-16.83-60.64-43.91-76.45C231.7 52.03 224 38.63 224 24.28c0-13.25-10.75-24.18-24-24.18S176 11.03 176 24.28C176 55.63 192.8 84.92 219.9 100.7z">
            </path>
          </svg>
          <h3>Boisson chaude</h3>
        </div>

        <p>Rester dans un cocon de douceur en terminant sur une note herbacée avec une tisane contenant
          différentes plantes adaptées à vos problématiques.</p>
      </div>

    </div>
  </div>
  }

  <!-- main section 2 (ms2) : PRESENTATION & VOTRE EXPERIENCE -->
    <!-- Bloc présentation -->
  <div class="container-fluid ms2-pres-container">

    <!-- Colonne de gauche - Présentation -->
    <div class="ms2-pres-left">
      <h2 class="ms2-section-title">Vos ressentis, ma priorité</h2>
      <p>Suite à l'obtention du titre RNCP « Intervenant Spa et Bien-Etre », certifié par l'état, je détiens des
        notions sur l'anatomie humaine, et le fonctionnement des différents organes.</p>
      <p>J'use de ces connaissances à disposition du massage bien-être pour vous offrir des conseils de qualité et
        vous aider à retrouver détente, énergie et vitalité.</p>
      <button class="green-btn" [routerLink]='["/a-propos"]'>En savoir plus à mon sujet<span>&nbsp; &#10095;</span></button>
    </div>

    <!-- Colonne de droite - Image pleine -->
    <div class="ms2-pres-right">
    </div>

  </div>

    <!-- Bloc expérience personnalisée -->
  <div class="container-fluid ms2-xp-container">

    <!-- Colonne de gauche - Image pleine -->
    <div class="ms2-xp-left">
    </div>

    <!-- Colonne de droite - Etapes -->
    <div class="ms2-xp-right">
      <h2 class="ms2-section-title">Une expérience 100% personnalisée</h2>

      <div class="ms2-right-title">
        <div class="ms2-right-title-nr">.01</div>
        <div class="ms2-right-title-text">Choix du temps de prestation</div>
      </div>

      <p>Lors de la réservation du créneau, vous choisissez entre 1h, 1h30 ou 2h de prestation*.</p>
      <p style="font-size: 0.8rem; margin-top: -25px;"><i>*(Inclus : 10 min pour le temps d'installation et
          désinstallation + 10 min av/ap + tisane offerte)</i></p>


      <div class="ms2-right-title">
        <div class="ms2-right-title-nr">.02</div>
        <div class="ms2-right-title-text">Choix du massage</div>
      </div>

      <p>Le jour même, nous échangeons autour de vos problématiques et je vous préconise un
        massage parmi ceux à la carte.
        Le choix reste cependant vôtre.
      </p>

      <div class="ms2-right-title">
        <div class="ms2-right-title-nr">.03</div>
        <div class="ms2-right-title-text">Choix de l'huile</div>
      </div>

      <p>Le jour même, vous choisissez entre l'huile neutre et l'huile
        essentielle que vous appréciez ou qui convient à vos problématiques.</p>

      <button class="green-btn" [routerLink]='["/massages"]'>Choisissez votre prestation<span>&nbsp; &#10095;</span></button>

    </div>

  </div>

  <!-- main section 3 (ms3) : RENSEIGNEMENTS COMPLEMENTAIRES -->

  <div class="ms3-container container">
    <div>
      <h2>Vous souhaitez des renseignements complémentaires ?</h2>
    </div>

    <h3>Vous pouvez me joindre au 06 70 10 71 75</h3>


    <button class="green-btn" [routerLink]='["/contact"]'>
      <span>Prendre rendez-vous</span><span>&nbsp; &#10095;</span> 
    </button>
  </div>

  <!-- main section 4 (ms4) : DETAILS ET TARIFS -->

  <div class="container-fluid ms4-main-container">

    <div class="container ms4-container">

      <div class="ms4-title">

        <h2>Prenez rendez-vous pour votre massage à domicile</h2>

        <p>C&#039;est avec un immense plaisir que je me rends chez vous pour un moment qui vous
          est entièrement dédié et qui vous correspond pleinement.</p>
      </div>

      <div class="ms4-thumb-row">

        <div class="ms4-thumb">
          <h3>Les massages</h3>
          <hr>

          <p class="ms4-thumb-text">Découvrez la carte des massages : chacun d&#039;entre eux est
            adapté à des problématiques
            diverses. Mal de dos, épaule bloquée, difficultés respiratoires, digestion difficile…
            N&#039;hésitez pas à me contacter pour plus de précisions.</p>

          <p class="ms4-thumb-note">Tarifs à partir de 60€</p>

        </div>

        <div class="ms4-thumb">
          <h3>Les soins spécifiques</h3>
          <hr>

          <p class="ms4-thumb-text">Les soins à la carte répondent à des problématiques sur des zones
            ciblées tout en équilibrant
            d&#039;autres zones du corps. A noter que pour résoudre une problématique entièrement,
            il est nécessaire de répéter la technique plusieurs fois sur un laps de temps cadré.</p>

          <p class="ms4-thumb-note">Tarifs à partir de 60€</p>

        </div>


      </div>

      <div class="ms4-thumb-row">

        <div class="ms4-thumb">
          <h3>Les programmes</h3>
          <hr>

          <p class="ms4-thumb-text">Choisir de passer par un programme est une option qui vous offre
            toutes les clés pour accéder
            au mieux-être. Nous définissons ensemble le nombre de séances adapté à vos besoins, le
            rythme calendaire ainsi que le temps de prestation.</p>

          <p class="ms4-thumb-note">Tarifs à partir de 320€</p>

        </div>

        <div class="ms4-thumb">
          <h3>Les produits</h3>
          <hr>

          <p class="ms4-thumb-text">Les produits utilisés lors de chaque séance sont entièrement issus
            de
            l&#039;agriculture
            biologique. Votre peau recevra les nutriments nécessaires à sa régénération ainsi que
            des
            actifs agissant sur différentes problématiques grâce aux huiles essentielles. Les
            plantes
            contenues dans les tisanes proviennent d&#039;une herboristerie certifiée.</p>

          <p class="ms4-thumb-note">Inclus dans chaque prestation</p>

        </div>

      </div>

      <button class="green-btn ms4-btn" [routerLink]='["/massages"]'>Découvrez la carte des massages<span>&nbsp; &#10095;</span></button>

    </div>

  </div>

  <!-- main section 5 (ms5) : AVIS CLIENTS -->

  <div class="container ms5-container">

    <div class="ms5-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M384 312.7c-55.1 136.7-187.1 54-187.1 54-40.5 81.8-107.4 134.4-184.6 134.7-16.1 0-16.6-24.4 0-24.4 64.4-.3 120.5-42.7 157.2-110.1-41.1 15.9-118.6 27.9-161.6-82.2 109-44.9 159.1 11.2 178.3 45.5 9.9-24.4 17-50.9 21.6-79.7 0 0-139.7 21.9-149.5-98.1 119.1-47.9 152.6 76.7 152.6 76.7 1.6-16.7 3.3-52.6 3.3-53.4 0 0-106.3-73.7-38.1-165.2 124.6 43 61.4 162.4 61.4 162.4 .5 1.6 .5 23.8 0 33.4 0 0 45.2-89 136.4-57.5-4.2 134-141.9 106.4-141.9 106.4-4.4 27.4-11.2 53.4-20 77.5 0 0 83-91.8 172-20z">
        </path>
      </svg>
    </div>

    <div class="ms5-title">
      <h3>Avis clients</h3>
    </div>

    <hr>

    @defer {
    <app-customer-reviews></app-customer-reviews>
    }

  </div>

  <!-- Separator -->
  <div class="container-fluid ms6-separator"></div>

  <!-- main section 6 (ms6) : CONTACT -->

  <div class="container-fluid" id="mainContact">

    <div class="ms6-container container">

      <!-- Titre -->
      <div class="ms6-title">
        <h2>Réservez votre massage</h2>
        <h3 class="ms6-prefix-titre">il est temps de prendre soin de vous !</h3>
      </div>

      <!-- Détails des contacts et réservation -->
      @defer { 
      <app-contact-banner></app-contact-banner>
      }
      @defer {
      <app-doc-modal></app-doc-modal>
      }

    </div>

  </div>

</main>
